body {
  background-image: url(./image/bg2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.container {
  margin: auto;
  width: 60%;
  border: 1px solid #8391ff;
  margin-top: 47px;
  padding: 23px;
  border-radius: 8px;
  background-color: #d9e6f1;
}

.content {
  display: flex;
  justify-content: space-around;
  margin-top: 29px;
}

.score-list h4 {
  margin: 0 29px 0 0;
  display: inline-block;
}

.score-list table {
  width: 300px;
  margin-top: 23px;
  border: 2px solid #fff;
}

.add-score {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.add-score form .btn {
  width: 87px;
  margin-left: 65%;
}

input {
  margin: 10px;
}
