.container {
  margin: auto;
  width: 60%;
  border: 1px solid black;
  margin-top: 47px;
  padding: 23px;
  border-radius: 8px;
  background-color: #d9e6f1;
}

.content {
  display: flex;
  justify-content: space-around;
  margin-top: 29px;
}

.score-list h4 {
  margin: 0 29px 0 0;
  display: inline-block;
}

.score-list table {
  margin: 23px;
}

.add-score {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.add-score .btn {
  width: 67px;
  margin-left: 60%;
}
